<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:s="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.ensa.tbanque.dao" />
	<context:component-scan base-package="com.ensa.tbanque.service" />
	<context:component-scan base-package="com.ensa.tbanque.batch" />
	<context:component-scan base-package="com.ensa.tbanque.utilities" />
<context:component-scan base-package="com.ensa.tbanque.secutiry" />


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/banque_database" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.ensa.tbanque.entities"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:annotation-driven />
	<context:annotation-config></context:annotation-config>



	<bean id="myAuthenticationSuccessHandler"
		class="com.ensa.tbanque.security.MySimpleUrlAuthenticationSuccessHandler"></bean>

	<s:http>
		<s:intercept-url pattern="/user/**" access="ROLE_USER" />
		<s:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<s:form-login login-page="/login"
			authentication-failure-url="/login?error=1"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<s:logout logout-success-url="/login" delete-cookies="JSESSIONID" />
	</s:http>
	
	<s:authentication-manager>
		<s:authentication-provider>
				<s:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select userName, password, actived
			from users where userName=?"
				authorities-by-username-query="select u.userName, r.roleName
			from users u, role r where u.user_id=r.user_id and u.userName=?" />
		</s:authentication-provider>
	</s:authentication-manager>


	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>
	<job id="importOps" xmlns="http://www.springframework.org/schema/batch">
		<step id="readWriteOperation">
			<tasklet>
				<chunk reader="operationReaderCSV" processor="TransactionProcessor"
					writer="operationWriter" commit-interval="1" />
			</tasklet>
		</step>
	</job>
	<bean id="operationReaderCSV" class="org.springframework.batch.item.file.FlatFileItemReader">
		<property name="resource" value="classpath:Operations.txt" />
		<property name="lineMapper">
			<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
				<property name="lineTokenizer">
					<bean
						class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
						<property name="delimiter" value="," />
						<property name="names" value="idOp" />
					</bean>
				</property>
				<property name="fieldSetMapper">
					<bean
						class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
						<property name="targetType" value="com.ensa.tbanque.entities.Transaction" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>
	<task:scheduled-tasks>
		<task:scheduled ref="batchLauncher" method="run"
			cron="0 */2 * * * *" />
	</task:scheduled-tasks>
	<task:annotation-driven />







</beans>
